<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@1.4/lib/theme-default/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- 引入组件库 -->
    <!--<script src="https://unpkg.com/element-ui@1.4/lib/index.js"></script>-->
    <script src="./js/element.js"></script>
    <script src="./js/index.js"></script>
</head>
<body>
<div id="app">
        <ul>
          <li v-for="item in list">
            <el-input v-model="item.name"></el-input>
          </li>
        </ul>
        <el-button @click='handleBtn'></el-button>
</div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      data: [
        { name: 'aa', age: 10 }
      ],
      list: []
    },
    mounted: function() {
      let { body } = this.$refs;
      console.log(body);
    },
    methods: {
      handleBtn() {
        this.list = this.data;
      }
    }
  })
</script>
</html>